nodeRed1
[{"id":"2e38ed62c8e496b9","type":"tab","label":"UniMAs","disabled":false,"info":"","env":[]},{"id":"10b40e9ab7b94235","type":"mqtt in","z":"2e38ed62c8e496b9","name":"","topic":"home/waterlevel","qos":"0","datatype":"auto-detect","broker":"5270409d5da4df6d","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":140,"wires":[["a84c8ee8da6a7b28","f47a865095750795","97947684f942b4fa"]]},{"id":"abc38e0f6da21e0c","type":"mqtt in","z":"2e38ed62c8e496b9","name":"","topic":"home/pHlevel","qos":"2","datatype":"auto-detect","broker":"5270409d5da4df6d","nl":false,"rap":true,"rh":0,"inputs":0,"x":910,"y":420,"wires":[["6d524f0ac3462718","a3f5ae42a91efcfb"]]},{"id":"a84c8ee8da6a7b28","type":"ui_gauge","z":"2e38ed62c8e496b9","name":"","group":"003c379e92338940","order":1,"width":0,"height":0,"gtype":"donut","title":"Water Level","label":"cm","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"200","diff":false,"className":"","x":390,"y":140,"wires":[]},{"id":"003f820a7c47e843","type":"ui_button","z":"2e38ed62c8e496b9","name":"","group":"003c379e92338940","order":2,"width":0,"height":0,"passthru":false,"label":"Open Valve","tooltip":"","color":"","bgcolor":"Black","className":"","icon":"","payload":"on","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":300,"wires":[["e766d6ace07633e0"]]},{"id":"e766d6ace07633e0","type":"mqtt out","z":"2e38ed62c8e496b9","name":"","topic":"home/solenoid","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5270409d5da4df6d","x":360,"y":300,"wires":[]},{"id":"2e44e7f3fe99dac2","type":"inject","z":"2e38ed62c8e496b9","name":"Automated Solenoid Control","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"28800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":900,"y":640,"wires":[["3f66935ce0484ef5"]]},{"id":"3f66935ce0484ef5","type":"function","z":"2e38ed62c8e496b9","name":"function 4","func":"if (msg.payload === 1) {\n    msg.topic = \"home/solenoid\";\n    msg.payload = \"OPEN\"; // Or use 1\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":640,"wires":[["851f2f10c5567921","b762cf638d29e927"]]},{"id":"851f2f10c5567921","type":"mqtt out","z":"2e38ed62c8e496b9","name":"","topic":"home/solenoid","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5270409d5da4df6d","x":1320,"y":600,"wires":[]},{"id":"076c1add778dab43","type":"mqtt in","z":"2e38ed62c8e496b9","name":"","topic":"home/foodlevel","qos":"2","datatype":"auto-detect","broker":"5270409d5da4df6d","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":640,"wires":[["8147b5284d275d9b","664aceb819cad50a"]]},{"id":"bd024691988c031a","type":"ui_gauge","z":"2e38ed62c8e496b9","name":"","group":"7bc8f10d52a9d9a6","order":1,"width":0,"height":0,"gtype":"compass","title":"Food Level","label":"grams","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":630,"y":600,"wires":[]},{"id":"67e5b4056542848f","type":"inject","z":"2e38ed62c8e496b9","name":"Automated Servo Control","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"28800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":200,"y":840,"wires":[["7f7821ad664605d3","c3ccfa3ba8cdeac5"]]},{"id":"4884edd1373e91c0","type":"ui_switch","z":"2e38ed62c8e496b9","name":"","label":"Dispense","tooltip":"","group":"7bc8f10d52a9d9a6","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"home/foodlevel","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":420,"y":760,"wires":[["c3ccfa3ba8cdeac5","e00b4dee3215f738"]]},{"id":"c3ccfa3ba8cdeac5","type":"mqtt out","z":"2e38ed62c8e496b9","name":"","topic":"home/fooddispense","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5270409d5da4df6d","x":630,"y":800,"wires":[]},{"id":"ceee4fb76c3ee0b8","type":"ui_gauge","z":"2e38ed62c8e496b9","name":"","group":"8850608b795b429e","order":1,"width":0,"height":0,"gtype":"gage","title":"pH Level","label":"pH","format":"{{value}}","min":0,"max":"14","colors":["#ca3838","#e6e600","#00b500"],"seg1":"6","seg2":"7","diff":false,"className":"","x":1300,"y":500,"wires":[]},{"id":"6d524f0ac3462718","type":"debug","z":"2e38ed62c8e496b9","name":"MQTTpHLevel","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":380,"wires":[]},{"id":"8147b5284d275d9b","type":"debug","z":"2e38ed62c8e496b9","name":"foodLevel","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":700,"wires":[]},{"id":"a3f5ae42a91efcfb","type":"function","z":"2e38ed62c8e496b9","name":"function 2","func":"msg.payload = msg.payload.pH;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":460,"wires":[["ceee4fb76c3ee0b8","25fc2ca5bb960e17","c3e7070dcc747c91"]]},{"id":"664aceb819cad50a","type":"function","z":"2e38ed62c8e496b9","name":"function 5","func":"msg.payload = msg.payload.distance\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":640,"wires":[["bd024691988c031a","d5d7cded016dfcc2"]]},{"id":"b762cf638d29e927","type":"debug","z":"2e38ed62c8e496b9","name":"Function4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1300,"y":680,"wires":[]},{"id":"d5d7cded016dfcc2","type":"debug","z":"2e38ed62c8e496b9","name":"Function5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":680,"wires":[]},{"id":"25fc2ca5bb960e17","type":"debug","z":"2e38ed62c8e496b9","name":"Function2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1300,"y":440,"wires":[]},{"id":"e00b4dee3215f738","type":"debug","z":"2e38ed62c8e496b9","name":"dispense button","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":740,"wires":[]},{"id":"7f7821ad664605d3","type":"debug","z":"2e38ed62c8e496b9","name":"Servo Control","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":880,"wires":[]},{"id":"a1fbb10b8e154b75","type":"ui_media","z":"2e38ed62c8e496b9","group":"1e12b703570879e7","name":"","width":"6","height":"5","order":3,"category":"unimas","file":"WhatsApp Image 2025-08-22 at 08.27.23.jpeg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":410,"y":1040,"wires":[[]]},{"id":"528e30a634ae7fb1","type":"inject","z":"2e38ed62c8e496b9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":1080,"wires":[["b865b15f1c3d0fbc"]]},{"id":"b865b15f1c3d0fbc","type":"ui_digital_clock","z":"2e38ed62c8e496b9","name":"Clock","group":"1e12b703570879e7","order":1,"width":0,"height":0,"x":390,"y":1080,"wires":[]},{"id":"5d3c1bdbfd2ded39","type":"comment","z":"2e38ed62c8e496b9","name":"Main Group","info":"","x":210,"y":1000,"wires":[]},{"id":"c3e7070dcc747c91","type":"ui_chart","z":"2e38ed62c8e496b9","name":"","group":"8850608b795b429e","order":2,"width":0,"height":0,"label":"pH Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1320,"y":540,"wires":[[]]},{"id":"a7632e29a838f662","type":"ui_audio","z":"2e38ed62c8e496b9","name":"","group":"1e12b703570879e7","voice":"Google Bahasa Indonesia","always":"","x":420,"y":1200,"wires":[]},{"id":"5c45f7ecffe9a419","type":"ui_button","z":"2e38ed62c8e496b9","name":"","group":"1e12b703570879e7","order":2,"width":0,"height":0,"passthru":false,"label":"Info","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Selamat Datang Ke  SOLAR SISTER","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":1200,"wires":[["a7632e29a838f662"]]},{"id":"54447a4feb90b466","type":"ui_button","z":"2e38ed62c8e496b9","name":"","group":"003c379e92338940","order":3,"width":0,"height":0,"passthru":false,"label":"close valve","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":340,"wires":[["e766d6ace07633e0"]]},{"id":"f47a865095750795","type":"switch","z":"2e38ed62c8e496b9","name":"low water level","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":180,"wires":[["7da6c4c7558e8e15"]]},{"id":"741b0559df5db316","type":"ui_text","z":"2e38ed62c8e496b9","group":"003c379e92338940","order":3,"width":0,"height":0,"name":"","label":"Water Level status","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":770,"y":200,"wires":[]},{"id":"7da6c4c7558e8e15","type":"function","z":"2e38ed62c8e496b9","name":"function 6","func":"msg.payload = \"WARNING: Low water level detected!\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":200,"wires":[["741b0559df5db316"]]},{"id":"97947684f942b4fa","type":"switch","z":"2e38ed62c8e496b9","name":"water level","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":220,"wires":[["a339751b620f092f"]]},{"id":"a339751b620f092f","type":"function","z":"2e38ed62c8e496b9","name":"function 7","func":"msg.payload = \"Water level NORMAL\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":240,"wires":[["741b0559df5db316","5b5d42777d0efbe2"]]},{"id":"5b5d42777d0efbe2","type":"mqtt out","z":"2e38ed62c8e496b9","name":"","topic":"home/waterlevel/status","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"dbd495faafef3511","x":780,"y":260,"wires":[]},{"id":"5270409d5da4df6d","type":"mqtt-broker","name":"emqx","broker":"broker.emqx.io","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"003c379e92338940","type":"ui_group","name":"Water Level","tab":"7f9cc0f4d86f4339","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7bc8f10d52a9d9a6","type":"ui_group","name":"Food ","tab":"7f9cc0f4d86f4339","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8850608b795b429e","type":"ui_group","name":"PH Level","tab":"7f9cc0f4d86f4339","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1e12b703570879e7","type":"ui_group","name":"Main","tab":"7f9cc0f4d86f4339","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"dbd495faafef3511","type":"mqtt-broker","name":"","broker":"broker.emqx.io","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"7f9cc0f4d86f4339","type":"ui_tab","name":"Monitoring System","icon":"dashboard","disabled":false,"hidden":false}]
